@charset "utf-8";

/*main*/
main {
    width: 100%;
    height: 500px;
    background: url(../img/sub1/main_bg.png) no-repeat center/cover;
    position: relative;
    margin-top: 100px;
    /*고정된 header의 높잇값만큼*/
}

main:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
}

main .main_inner {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

/*lnb*/
main .lnb {
    padding-top: 20px;
}

main .lnb .location {
    width: 240px;
    text-align: center;
}

main .lnb .location > li {
    float: left;
    width: 90px;
    position: relative;
    margin-left: -10px;
}

main .lnb .location > li:before {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: 7px;
    left: 4px;
}

main .lnb .location > li > a {
    margin-top: 4px;
    font-size: 14px;
    color: #fff;
}

main .lnb .location > li:first-child:before {
    display: none;
}

main .lnb .location .home {
    width: 60px;
}

main .lnb .location .home a {
    display: inline-block;
}

main .lnb .location .home a img {
    width: 18px;
    display: block;
}

main .main_title {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

main .main_title h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

main .main_title p {
    line-height: 1.6;
    font-size: 20px;
}


/*attr_title*/
.attr_title {
    /*width: 80%;*/
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.attr_title .attr_tab {
    width: 1280px;
    margin: 0 auto;
    line-height: 60px;
    position: relative;
}

.attr_title .attr_tab:before {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #999;
    position: absolute;
    top: 10px;
}

.attr_title .attr_tab:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #999;
    position: absolute;
    top: 10px;
    right: 0;
}

.attr_title li {
    float: left;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.attr_title li:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #999;
    position: absolute;
    right: 0;
    top: 10px;
}

.attr_title li:last-child:after {
    display: none;
}

.attr_title li.active a {
    color: #e16254;
}

.attr_title li a {
    font-size: 20px;
}




/*section*/
section {
    width: 100%;
    /*margin: 0 auto;*/
	background: url(../img/sub1/section_bg.png) no-repeat top/cover;
	padding-top: 60px;
	padding-bottom: 60px;
	box-sizing: border-box;
}

/*attr_slider*/
#world {
    /*display: none;*/
}

#adventure {
    display: none;
}

#character {
    display: none;
}

#tomorrow {
    display: none;
}
#samchulli {
	display: none;
}

.attr {
    width:80%;
	max-width: 1280px;
    margin: 60px auto 120px;
}

.attr .title {
    font-size: 26px;
    color: #333;
    margin-bottom: 60px;
}

.attr .title span {
    color: #999;
    font-weight: 100;
    margin-left: 20px;
    font-size: 22px;
    font-style: italic
}

.attr_wrap .attr_box {
    width: 48%;
    height: 340px;
    background-color: #ffc4c6;
    margin-right: 4%;
    margin-bottom: 100px;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
    /*outline: 1px solid red;*/
    float: left;
}

.attr_wrap .attr_box:nth-child(2n) {
    margin-right: 0;
}

.attr_wrap .attr_box .mainimg {
    /*width: 290px;*/
	width: 45%;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 30px;
}

.attr_wrap .attr_box .attr_des {
    width: 45%;
    position: absolute;
    top: 2%;
    right: 6%;
	color: #333;
}

.attr_des h2 {
    margin: 14px 0 32px;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
}

.attr_des h2::after {
    content: "";
    display: block;
    width: 132px;
    height: 4px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
}

.attr_des .attr_info {
    width: 100%;
    margin-top: 30px;
}

.attr_des .attr_info li {
    float: left;
    width: 25%;
    text-align: center;
}

.attr_des .attr_info li p {
    font-size: 14px;
    margin-top: 7px;
    line-height: 1.6;
}

.attr_des .attr_info li p span {
    display: block;
    font-size: 12px;
    color: #e16254;
}

.attr_des .attr_info img {
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e16254;
}

#loadMore {
    width: 10%;
    display: block;
    text-decoration: none;
    padding: 14px 8px;
    background-color: #e16254;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.8px;
    border-radius: 10px;
}
